/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px; }

body {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  line-height: 1.8rem; }

@keyframes flow-in {
  0% {
    width: 0; }
  100% {
    width: 80%; } }

.c-progressbar {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.8rem;
  background-color: #0c122c;
  border-radius: 1rem;
  display: flex; }
  .c-progressbar__status {
    background: linear-gradient(90deg, #ffa399, #ff4d97);
    border-radius: 1rem;
    height: 1.6rem;
    overflow: hidden;
    align-self: center;
    margin-left: .2rem;
    position: relative;
    animation: flow-in 1s ease-in-out forwards; }
    .c-progressbar__status::after {
      content: '';
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      position: absolute;
      background-color: #fff;
      top: 50%;
      transform: translateY(-50%);
      right: 2px; }

*, *:before, *:after {
  box-sizing: border-box; }

strong {
  font-weight: 700; }

body {
  background: url("images/bg-mobile.svg") bottom/cover no-repeat;
  padding: 0 2rem;
  color: #dddbff;
  height: 100vh; }
  @media only screen and (min-width: 900px) {
    body {
      background: #0c122c url("images/bg-desktop.svg") bottom/100% 58% no-repeat; } }

.storage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 922px;
  margin: 0 auto;
  height: 100vh; }
  @media only screen and (min-width: 900px) {
    .storage {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 50vh; } }

.p-control {
  padding: 4rem;
  background-color: #1d2c67;
  border-radius: 1rem;
  border-top-right-radius: 10rem;
  margin-bottom: 1.6rem; }
  @media only screen and (min-width: 900px) {
    .p-control {
      flex: 0 0 38%;
      margin-bottom: 0;
      align-self: flex-end; } }
  .p-control__logo {
    margin-bottom: 3.3rem; }
  .p-control__items {
    display: flex; }
  .p-control__item {
    height: 4.8rem;
    width: 4.8rem;
    padding: 0rem;
    background-color: #0c122c;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s ease-in-out; }
    .p-control__item:not(:last-of-type) {
      margin-right: 1.6rem; }
    .p-control__item:hover {
      background-color: #dddbff;
      cursor: pointer; }

.p-info {
  padding: 4rem;
  background-color: #1d2c67;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  @media only screen and (min-width: 900px) {
    .p-info {
      flex: 0 0 55%;
      align-self: flex-end; } }
  .p-info__intro {
    margin-bottom: 1.6rem; }
  .p-info__text {
    width: 100%;
    font-weight: 700;
    display: flex;
    justify-content: space-between; }
  .p-info__gb-left {
    padding: 1.6rem;
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    position: absolute;
    bottom: -20%; }
    @media only screen and (min-width: 900px) {
      .p-info__gb-left {
        right: 4rem;
        bottom: 13.6rem; }
        .p-info__gb-left::after {
          content: '';
          display: block;
          position: absolute;
          right: 0;
          bottom: -22px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 30px 0 0 30px;
          border-color: #ffffff transparent transparent transparent;
          border-radius: .2rem 0 0 .2rem; } }
    .p-info__gb-left--large {
      font-size: 4rem;
      font-weight: 700;
      color: #0c122c;
      line-height: 4rem; }
    .p-info__gb-left--small {
      color: #848794;
      text-transform: uppercase;
      font-size: 1.2rem;
      align-self: center;
      margin-left: 1rem; }
