//linear-gradient

@mixin linear-gradient(){
  background:linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}

//card

@mixin card-base($bgcolor, $padding){
  padding:$padding;
  background-color:$bgcolor;
  border-radius: 1rem;
}